<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auteur</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div th:insert="~{index:: navbar}"></div>
    <div th:insert="~{index:: sidebar}"></div>
    <div class="p-4 sm:ml-64">
        <div class="p-4 mt-14">
            <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
                <button id="dropdownOffsetButton" data-dropdown-toggle="dropdownSkidding" data-dropdown-offset-distance="10" data-dropdown-offset-skidding="100" data-dropdown-placement="right" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" type="button">
                    Trier <i class="ml-3 fas fa-caret-down"></i>
                </button>
                <div id="dropdownSkidding" class="z-10 hidden bg-white dark:bg-gray-800 divide-y divide-gray-100 dark:divide-gray-600 rounded-lg shadow w-44">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                        <li>
                            <a href="/ListAuteurs?sort=id_asc" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-gray-700">Par ID Asc</a>
                        </li>
                        <li>
                            <a href="/ListAuteurs?sort=id_desc" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-gray-700">Par ID Desc</a>
                        </li>
                        <li>
                            <a href="/ListAuteurs?sort=nom_asc" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-gray-700">Par Nom Asc</a>
                        </li>
                        <li>
                            <a href="/ListAuteurs?sort=nom_desc" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-gray-700">Par Nom Desc</a>
                        </li>
                        <li>
                            <a href="/ListAuteurs?sort=pseudo_asc" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-gray-700">Par Pseudo Asc</a>
                        </li>
                        <li>
                            <a href="/ListAuteurs?sort=pseudo_desc" class="block px-4 py-2 hover:bg-blue-100 dark:hover:bg-gray-700">Par Pseudo Desc</a>
                        </li>
                    </ul>
                </div>
                <div class="relative">
                    <form action="/Rechercher" method="get">
                        <input type="text" name="nom" id="table-search" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 " placeholder="rechercher un nom d'auteur">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <i class="fas fa-search text-gray-500"></i>
                        </div>
                    </form>
                </div>
            </div>
            <table class="w-full text-sm text-gray-900 dark:text-gray-300 border border-black dark:border-gray-700">
                <thead class="text-xs text-gray-700 dark:text-gray-300 uppercase bg-gray-400 dark:bg-gray-700 border-b border-black dark:border-gray-600">
                    <tr>
                        <th scope="col" class="px-6 py-3 border-r border-black dark:border-gray-600">ID</th>
                        <th scope="col" class="px-6 py-3 border-r border-black dark:border-gray-600">Nom</th>
                        <th scope="col" class="px-6 py-3 border-r border-black dark:border-gray-600">Prénom</th>
                        <th scope="col" class="px-6 py-3 border-r border-black dark:border-gray-600">Pseudo</th>
                        <th scope="col" class="px-6 py-3 border-r border-black dark:border-gray-600">Genre</th>
                        <th scope="col" class="px-6 py-3 border-r border-black dark:border-gray-600">E-Mail</th>
                        <th scope="col" class="px-6 py-3 border-r border-black dark:border-gray-600">Télephone</th>
                        <th scope= "col" class="px-6 py-3 border-r border-black dark:border-gray-600">Total livre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="auteur: ${auteurs}" class="bg-white dark:bg-gray-800 border-b border-black dark:border-gray-600">
                        <td class="px-6 py-4 border-r border-black dark:border-gray-600 dark:text-white" th:text="${auteur.id}"></td>
                        <td class="px-6 py-4 border-r border-black dark:border-gray-600 dark:text-white" th:text="${auteur.nom}"></td>
                        <td class="px-6 py-4 border-r border-black dark:border-gray-600 dark:text-white" th:text="${auteur.prenom}"></td>
                        <td class="px-6 py-4 border-r border-black dark:border-gray-600 dark:text-white" th:text="${auteur.pseudo}"></td>
                        <td class="px-6 py-4 border-r border-black dark:border-gray-600 dark:text-white" th:text="${auteur.genre}"></td>
                        <td class="px-6 py-4 border-r border-black dark:border-gray-600 dark:text-white" th:text="${auteur.email}"></td>
                        <td class="px-6 py-4 border-r border-black dark:border-gray-600 dark:text-white" th:text="${auteur.phone}"></td>
                        <td class="px-6 py-4 border-r border-black dark:border-gray-600 dark:text-white" th:text="${livresCount[auteur.id]}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const themeToggle = document.getElementById('theme-toggle');
        const themeIcon = document.getElementById('theme-toggle-icon');

        // Vérifie le mode sombre lors du chargement de la page
        if (localStorage.getItem('theme') === 'dark') {
            document.documentElement.classList.add('dark');
            themeIcon.classList.remove('fa-sun');
            themeIcon.classList.add('fa-moon');
        }

        // Bascule entre le mode sombre et clair
        themeToggle.addEventListener('click', () => {
            document.documentElement.classList.toggle('dark');

            // Sauvegarde le mode dans localStorage
            if (document.documentElement.classList.contains('dark')) {
                localStorage.setItem('theme', 'dark');
                themeIcon.classList.remove('fa-sun');
                themeIcon.classList.add('fa-moon');
            } else {
                localStorage.setItem('theme', 'light');
                themeIcon.classList.remove('fa-moon');
                themeIcon.classList.add('fa-sun');
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>
